# Java Build Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.jardesc

# Sublime Text Project Files #
*.sublime-*

# Un-Wanted Build/Temp directories #
/ant/
/bin/
/build/
/doc/
/docs/
/test/
/release/
/dist/

# WPILib Files #
/src/edu/

# Eclipse Files #
#/.settings/
#/.externalToolBuilders/
#.classpath
#.project

/bin/
/bin/
