*.class

# Package Files #
*.jar
*.war
*.ear
*.jardesc

javadoc.xml

*.sublime-*
/ant/
/build/
/bin/
/doc/
/test/
/resources/
/release/
/nbproject/
/dist/
build.xml
build.properties
/.settings/
.project
.classpath

/src/edu/
/lib/linux-arm/librobolibJavaJNI.so
